.header-text {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.not-card {
  color: grey;
}

.events {
  text-align: center;
}

.event-title {
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: underline;
}

.event-btn {
  width: 200px;
  margin: 10px 10px;
}

.table-item {
  text-align: center;
}

.inactive {
  pointer-events: none;
  opacity: 50%;
}

.solution {
  color: #03b49f;
  font-weight: bold;
  font-size: 1.1em;
  text-shadow: 0 0 10px #03b49f;
}

.not-solution {
  color: grey;
  text-decoration: line-through;
}

.popup {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  width: 50%;
  text-align: center;
  background-color: #002722;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 0 50px #002722;
}

.popup-title {
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: underline;
}

.popup-text {
  margin-top: 20px;
}

.popup-select {
  display: block;
  margin: 10px auto;
}

.popup-icon {
  display: block;
  margin-top: 20px;
  font-size: 2rem;
}

.popup-icon:hover {
  color: #03b49f;
}
