.header-text {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.not-card {
  color: grey;
}

.events {
  text-align: center;
}

.event-title {
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: underline;
}

.event-btn {
  width: 200px;
  margin: auto 10px;
}

.table-item {
  text-align: center;
}
