.container {
  background-color: #01423a;
  height: 100%;
  min-width: 100%;
  font-family: "Nunito", sans-serif;
  color: white;
}

.title-screen {
  text-align: center;
}

.title {
  font-weight: 800;
  font-size: 60px;
}
