.background {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #01423a;
  min-height: 100vh;
  min-width: 100%;
  font-family: "Nunito", sans-serif;
  color: white;
}
